        head {
            color: #ffaa80;
        }
        body {
            width:100%
            height:100%
            position: top;
            margin: 5;
            padding-bottom: 10px;
            padding-left:20px;
            box-sizing: border-box;
            vertical-align: top;
            color: green;
            overflow-x: auto;
            white-space: nowrap;
         }
        table {

          width: 100%;
          font-family: arial, sans-serif;
          padding-left:20px;
          vertical-align:top;
        }
        p.pagename {  font-family: Arial, Helvetica, sans-serif; font-size:55px; }
        td {

          border-bottom: 3px solid #170d0d;
          border: 3px solid #dddddd;
          vertical-align: top;
          text-align: left;
          padding: 5px;

        }
        p.pagename,p {  font-family: Arial, Helvetica, sans-serif; font-size:45px; }
        p{
            font-size:15px;
            min-height:17.6px;
        }
        label {
            color:#ffaa80;
            font-family: Arial, Helvetica, sans-serif;
            font-size:25px;
        }
        dd,dt {
            color:#ffaa80;
            font-family: Arial, Helvetica, sans-serif;
            font-size:15px;
        }
        .key{ color:#0080ff; font-size:21px}
        .button {
              background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
        }
        #myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 18px;
          border: none;
          outline: none;
          background-color: green;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }
    #myBtn:hover { background-color: blue; }
    .siteDescription {
    display: -moz-box; /* Firefox*/
    display: -webkit-box; /* Chrome */
    display: -ms-flexbox; /* IE 10 */
    display: flexbox;
    flex-direction: row;
    flex-align:start;
    width: 95%;
    height: 150px;
    }
