<!DOCTYPE html>
<html>
<head>
    <title> {{data_page.title}} </title>
    <link href="{{ url_for('static', path='/css/mystyle.css') }}" rel="stylesheet">
</head>

<body>
    <p class="pagename" > {{data_page.title}} </p>
    <div >
        <form name="go" method="post" action="/" enctype="multi-part/form-data">


            <input type="reset" class="button">

        </form>
    </div>
<!--    <div>-->
<!--        <form name="url_form" method="post" action='/' enctype="multi-part/form-data">-->
<!--            <label for="uname">Input URL of googlesheets: </label>-->
<!--            -->
<!--&lt;!&ndash;            <input type="text" id="uname" name="name" size="70"&ndash;&gt;-->
<!--&lt;!&ndash;                   value="https://docs.google.com/spreadsheets/d/1Pt23r8uW0oc5FjdyF0Vcn0c4kgJmN7-5YNzgjJQYZ4c/edit#gid=0"&ndash;&gt;-->
<!--&lt;!&ndash;                   placeholder="Lower case, all one word">&ndash;&gt;-->
<!--        </form>-->
<!--        <div> <input type="submit" class="button" value="Submit"> </div>-->
<!--    </div>-->


</body>
</html>

